<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>handware</key>
	<array>
		<dict>
			<key>page</key>
			<string>HGBCommunicationViewController</string>
			<key>image</key>
			<string>icon_contact</string>
			<key>name</key>
			<string>通信工具</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBURLViewController</string>
			<key>image</key>
			<string>icon_url</string>
			<key>name</key>
			<string>打开外链</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBNotificationViewController</string>
			<key>image</key>
			<string>icon_notification</string>
			<key>name</key>
			<string>通知</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBTouchViewController</string>
			<key>image</key>
			<string>icon_fig</string>
			<key>name</key>
			<string>指纹识别</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBAutoScreenLockViewController</string>
			<key>image</key>
			<string>icon_encrypt</string>
			<key>name</key>
			<string>自动锁屏</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBLocationViewController</string>
			<key>image</key>
			<string>icon_location</string>
			<key>name</key>
			<string>定位</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBMediaViewController</string>
			<key>image</key>
			<string>icon_media</string>
			<key>name</key>
			<string>多媒体</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBBatteryViewController</string>
			<key>image</key>
			<string>icon_battery</string>
			<key>name</key>
			<string>电池</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBMailListViewController</string>
			<key>image</key>
			<string>icon_adressbook</string>
			<key>name</key>
			<string>通讯录</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBWIFIViewController</string>
			<key>image</key>
			<string>icon_wi-fi</string>
			<key>name</key>
			<string>Wi-Fi</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBBluetoothViewController</string>
			<key>image</key>
			<string>icon_bluetooth</string>
			<key>name</key>
			<string>蓝牙</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBBlueToothPrintViewController</string>
			<key>image</key>
			<string>icon_print</string>
			<key>name</key>
			<string>蓝牙打印机</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBINBluetoothViewController</string>
			<key>image</key>
			<string>icon_appbluetooth</string>
			<key>name</key>
			<string>苹果专用蓝牙</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBAirPrintViewController</string>
			<key>image</key>
			<string>iocn_appprint</string>
			<key>name</key>
			<string>苹果打印机</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBStepViewController</string>
			<key>image</key>
			<string>icon_health</string>
			<key>name</key>
			<string>计步器</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBAccelerometerViewController</string>
			<key>image</key>
			<string>icon_acess</string>
			<key>name</key>
			<string>加速度传感器</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBLightSensitiveViewController</string>
			<key>image</key>
			<string>icon_lightbriness</string>
			<key>name</key>
			<string>光强传感器</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBDistanceViewController</string>
			<key>image</key>
			<string>icon_distance</string>
			<key>name</key>
			<string>距离传感器</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBDeviceMotionViewController</string>
			<key>image</key>
			<string>icon_deviceinfo</string>
			<key>name</key>
			<string>手机运动传感器</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBGyroscopeViewController</string>
			<key>image</key>
			<string>icon_geo</string>
			<key>name</key>
			<string>陀螺仪</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBCalenderEventViewController</string>
			<key>image</key>
			<string>icon_calenderpop</string>
			<key>name</key>
			<string>日历</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBReminderEventViewController</string>
			<key>image</key>
			<string>icon_evebt</string>
			<key>name</key>
			<string>备忘录</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBDeviceSetViewController</string>
			<key>image</key>
			<string>icon_deviceinfo</string>
			<key>name</key>
			<string>设备小功能</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBTorchViewController</string>
			<key>image</key>
			<string>icon_torch</string>
			<key>name</key>
			<string>手电筒</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGB3DTouchViewController</string>
			<key>image</key>
			<string>icon_touch</string>
			<key>name</key>
			<string>3DTouch</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBScreenBrightnessViewController</string>
			<key>image</key>
			<string>icon_light</string>
			<key>name</key>
			<string>屏幕亮度</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBAudioViewController</string>
			<key>image</key>
			<string>icon_audio</string>
			<key>name</key>
			<string>音频</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBVideoViewController</string>
			<key>image</key>
			<string>icon_video</string>
			<key>name</key>
			<string>视频</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBSystemShareViewController</string>
			<key>image</key>
			<string>icon_share</string>
			<key>name</key>
			<string>系统分享</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBSafariViewController</string>
			<key>image</key>
			<string>icon_web</string>
			<key>name</key>
			<string>Safari</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBClientUSBController</string>
			<key>image</key>
			<string>icon_usb</string>
			<key>name</key>
			<string>USB客户端</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBSocketController</string>
			<key>image</key>
			<string>icon_net</string>
			<key>name</key>
			<string>Socket</string>
		</dict>
	</array>
	<key>common</key>
	<array>
		<dict>
			<key>page</key>
			<string>HGBStringViewController</string>
			<key>image</key>
			<string>icon_string</string>
			<key>name</key>
			<string>字符串</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBTimeToolViewController</string>
			<key>image</key>
			<string>icon_timehander</string>
			<key>name</key>
			<string>时间</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBCoordinateViewController</string>
			<key>image</key>
			<string>icon_coordinate</string>
			<key>name</key>
			<string>经纬度偏差</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBURLToolViewController</string>
			<key>image</key>
			<string>icon_url</string>
			<key>name</key>
			<string>URL</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBJSONViewController</string>
			<key>image</key>
			<string>icon_json</string>
			<key>name</key>
			<string>JSON</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBXMLViewController</string>
			<key>image</key>
			<string>icon_xml</string>
			<key>name</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBJSViewController</string>
			<key>image</key>
			<string>icon_js</string>
			<key>name</key>
			<string>JS</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBPredicateViewController</string>
			<key>image</key>
			<string>icon_prediate</string>
			<key>name</key>
			<string>正则表达式</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBThreadViewController</string>
			<key>image</key>
			<string>icon_thread</string>
			<key>name</key>
			<string>线程</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBExceptionViewController</string>
			<key>image</key>
			<string>icon_error</string>
			<key>name</key>
			<string>错误捕捉</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBAPPCheckViewController</string>
			<key>image</key>
			<string>icon_check</string>
			<key>name</key>
			<string>APP自检</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBVersionViewController</string>
			<key>image</key>
			<string>icon_version</string>
			<key>name</key>
			<string>版本</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBPurchaseViewController</string>
			<key>image</key>
			<string>icon_puchase</string>
			<key>name</key>
			<string>APP内购</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBOrientationViewController</string>
			<key>image</key>
			<string>icon_turnscreen</string>
			<key>name</key>
			<string>强制转屏</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBBlockViewController</string>
			<key>image</key>
			<string>icon_block</string>
			<key>name</key>
			<string>块</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBMacroViewController</string>
			<key>image</key>
			<string>icon_marco</string>
			<key>name</key>
			<string>宏</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBAPPStatusViewController</string>
			<key>image</key>
			<string>icon_appstatus</string>
			<key>name</key>
			<string>APP状态</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBBackgroundViewController</string>
			<key>image</key>
			<string>icon_background</string>
			<key>name</key>
			<string>后台任务</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBEncryptViewController</string>
			<key>image</key>
			<string>icon_encrypt</string>
			<key>name</key>
			<string>加密</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBNetWorkViewController</string>
			<key>image</key>
			<string>icon_net</string>
			<key>name</key>
			<string>网络</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBDownLoadViewController</string>
			<key>image</key>
			<string>icon_download</string>
			<key>name</key>
			<string>下载管理</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBURLProtocolViewController</string>
			<key>image</key>
			<string>icon_barrier</string>
			<key>name</key>
			<string>URL拦截</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBLogController</string>
			<key>image</key>
			<string>icon_log</string>
			<key>name</key>
			<string>日志工具</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBAppManagerController</string>
			<key>image</key>
			<string>icon_app</string>
			<key>name</key>
			<string>app管理</string>
		</dict>
	</array>
	<key>file</key>
	<array>
		<dict>
			<key>page</key>
			<string>HGBSandBoxViewController</string>
			<key>image</key>
			<string>icon_sandbox</string>
			<key>name</key>
			<string>沙盒工具</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBClearViewController</string>
			<key>image</key>
			<string>icon_clear</string>
			<key>name</key>
			<string>缓存清理</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBDefaultsViewController</string>
			<key>image</key>
			<string>icon_defaults</string>
			<key>name</key>
			<string>偏好文件</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBKeychainViewController</string>
			<key>image</key>
			<string>icon_key</string>
			<key>name</key>
			<string>钥匙串</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBFileViewController</string>
			<key>image</key>
			<string>icon_file</string>
			<key>name</key>
			<string>文件</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBDataBaseViewController</string>
			<key>image</key>
			<string>icon_database</string>
			<key>name</key>
			<string>数据库</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBHTMLtoPDFViewController</string>
			<key>image</key>
			<string>icon_htmlpdf</string>
			<key>name</key>
			<string>html转pdf</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBImageToPDFViewController</string>
			<key>image</key>
			<string>icon_imagepdf</string>
			<key>name</key>
			<string>image转pdf</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBFileCompressViewController</string>
			<key>image</key>
			<string>icon_compress</string>
			<key>name</key>
			<string>压缩解压</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBOUTViewController</string>
			<key>image</key>
			<string>icon_outlook</string>
			<key>name</key>
			<string>外部打开</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBQuickLookViewController</string>
			<key>image</key>
			<string>icon_quicklook</string>
			<key>name</key>
			<string>quicklook</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBFileManageViewController</string>
			<key>image</key>
			<string>icon_filemanager</string>
			<key>name</key>
			<string>文件管理</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBMonitorFileController</string>
			<key>image</key>
			<string>icon_appstatus</string>
			<key>name</key>
			<string>监听文件变化</string>
		</dict>
	</array>
	<key>third</key>
	<array>
		<dict>
			<key>page</key>
			<string>HGBThirdMapViewController</string>
			<key>image</key>
			<string>Icon_map</string>
			<key>name</key>
			<string>地图</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBShareViewController</string>
			<key>image</key>
			<string>icon_share</string>
			<key>name</key>
			<string>分享</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBAnalyticsViewController</string>
			<key>image</key>
			<string>icon_statistics</string>
			<key>name</key>
			<string>统计</string>
		</dict>
	</array>
	<key>base</key>
	<array>
		<dict>
			<key>page</key>
			<string>HViewController</string>
			<key>image</key>
			<string>icon_deviceinfo</string>
			<key>name</key>
			<string>控制器</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HTabBarViewController</string>
			<key>image</key>
			<string>icon_tabbar</string>
			<key>name</key>
			<string>tabBar</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HTableViewController</string>
			<key>image</key>
			<string>icon_tableview</string>
			<key>name</key>
			<string>列表</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HCollectionViewController</string>
			<key>image</key>
			<string>icon_collectionview</string>
			<key>name</key>
			<string>表格</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HLayoutCollectionViewController</string>
			<key>image</key>
			<string>icon_pubu</string>
			<key>name</key>
			<string>瀑布流</string>
		</dict>
	</array>
	<key>componentset</key>
	<array>
		<dict>
			<key>page</key>
			<string>HGBApplicationBageViewController</string>
			<key>image</key>
			<string>icon_appbadge</string>
			<key>name</key>
			<string>应用角标</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBBageTabBarController</string>
			<key>image</key>
			<string>icon_tabbadge</string>
			<key>name</key>
			<string>tab角标</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBStatusBarViewController</string>
			<key>image</key>
			<string>icon_statusbar</string>
			<key>name</key>
			<string>状态栏</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBCopyViewViewController</string>
			<key>image</key>
			<string>icon_pastbord</string>
			<key>name</key>
			<string>组件复制</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBNavTestViewController</string>
			<key>image</key>
			<string>icon_navbar</string>
			<key>name</key>
			<string>导航栏</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBJumpViewController</string>
			<key>image</key>
			<string>icon_jump</string>
			<key>name</key>
			<string>屏幕跳转</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBCurrentViewController</string>
			<key>image</key>
			<string>icon_deviceinfo</string>
			<key>name</key>
			<string>当前控制器</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBTurnScreenViewController</string>
			<key>image</key>
			<string>icon_turnscreen</string>
			<key>name</key>
			<string>转屏</string>
		</dict>
	</array>
	<key>small</key>
	<array>
		<dict>
			<key>page</key>
			<string></string>
			<key>image</key>
			<string>icon_label</string>
			<key>name</key>
			<string>标签</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBTextViewController</string>
			<key>image</key>
			<string>icon_text</string>
			<key>name</key>
			<string>文本</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBImageViewViewController</string>
			<key>image</key>
			<string>icon_imageview</string>
			<key>name</key>
			<string>图片</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBSearchBarViewController</string>
			<key>image</key>
			<string>icon_searchbar</string>
			<key>name</key>
			<string>搜索框</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBCirculateViewController</string>
			<key>image</key>
			<string>icon_scroller</string>
			<key>name</key>
			<string>轮播</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBNumberScrollViewController</string>
			<key>image</key>
			<string>icon_number</string>
			<key>name</key>
			<string>数字轮播</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBNotificationPopViewController</string>
			<key>image</key>
			<string>icon_notification</string>
			<key>name</key>
			<string>消息</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBStarViewController</string>
			<key>image</key>
			<string>icon_star</string>
			<key>name</key>
			<string>星星评价</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBPageViewController</string>
			<key>image</key>
			<string>icon_page</string>
			<key>name</key>
			<string>页面索引</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBIndexViewController</string>
			<key>image</key>
			<string>icon_indexpath</string>
			<key>name</key>
			<string>表格索引</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBChatViewController</string>
			<key>image</key>
			<string>icon_chart</string>
			<key>name</key>
			<string>图表</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBDropDownViewController</string>
			<key>image</key>
			<string>icon_dropdown</string>
			<key>name</key>
			<string>下拉列表</string>
		</dict>
	</array>
	<key>full</key>
	<array>
		<dict>
			<key>page</key>
			<string>HGBCameraViewController</string>
			<key>image</key>
			<string>icon_camera</string>
			<key>name</key>
			<string>相机</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBScanCommonViewController</string>
			<key>image</key>
			<string>icon_scancommon</string>
			<key>name</key>
			<string>普通扫描</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBCodeScanViewController</string>
			<key>image</key>
			<string>icon_scancode</string>
			<key>name</key>
			<string>二维码扫描</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBMapViewController</string>
			<key>image</key>
			<string>Icon_map</string>
			<key>name</key>
			<string>地图</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBWebViewController</string>
			<key>image</key>
			<string>icon_web</string>
			<key>name</key>
			<string>浏览器</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBCordovaViewController</string>
			<key>image</key>
			<string>icon_cordova </string>
			<key>name</key>
			<string>Cordova</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBWeexViewController</string>
			<key>image</key>
			<string>Icon_weex</string>
			<key>name</key>
			<string>Weex</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBCompassViewController</string>
			<key>image</key>
			<string>icon_compass</string>
			<key>name</key>
			<string>指南针</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGB9PassViewController</string>
			<key>image</key>
			<string>icon_9pass</string>
			<key>name</key>
			<string>九宫格</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBTableSelectorViewController</string>
			<key>image</key>
			<string>icon_table</string>
			<key>name</key>
			<string>表格选择</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBAboutViewController</string>
			<key>image</key>
			<string>icon_instruction</string>
			<key>name</key>
			<string>介绍</string>
		</dict>
	</array>
	<key>pop</key>
	<array>
		<dict>
			<key>page</key>
			<string>HGBSignViewController</string>
			<key>image</key>
			<string>icon_sign</string>
			<key>name</key>
			<string>签名</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBKeybordController</string>
			<key>image</key>
			<string>icon_keybordpop</string>
			<key>name</key>
			<string>键盘</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBPromptViewController</string>
			<key>image</key>
			<string>icon_alertpop</string>
			<key>name</key>
			<string>提示</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBCenterViewController</string>
			<key>image</key>
			<string>icon_centerpop</string>
			<key>name</key>
			<string>中间弹窗</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBBottomPopViewController</string>
			<key>image</key>
			<string>icon_bottompop</string>
			<key>name</key>
			<string>底部弹窗</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBBottomSelectViewController</string>
			<key>image</key>
			<string>icon_selectpop</string>
			<key>name</key>
			<string>选择</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBTimeViewController</string>
			<key>image</key>
			<string>icon_timepop</string>
			<key>name</key>
			<string>时间选择</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBDateViewController</string>
			<key>image</key>
			<string>icon_datepop</string>
			<key>name</key>
			<string>日期选择</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBCalenderViewController</string>
			<key>image</key>
			<string>icon_calenderpop</string>
			<key>name</key>
			<string>日历选择</string>
		</dict>
	</array>
	<key>ui</key>
	<array>
		<dict>
			<key>page</key>
			<string>HGBSizeViewController</string>
			<key>image</key>
			<string>icon_size</string>
			<key>name</key>
			<string>尺寸</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBFontViewController</string>
			<key>image</key>
			<string>icon_font</string>
			<key>name</key>
			<string>字体</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBColorViewController</string>
			<key>image</key>
			<string>icon_color</string>
			<key>name</key>
			<string>颜色</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBPasteboardViewController</string>
			<key>image</key>
			<string>icon_pastbord</string>
			<key>name</key>
			<string>粘贴板</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBImageViewController</string>
			<key>image</key>
			<string>icon_image</string>
			<key>name</key>
			<string>图片</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBCodeViewController</string>
			<key>image</key>
			<string>icon_code</string>
			<key>name</key>
			<string>二维码/条形码</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBShotScreenViewController</string>
			<key>image</key>
			<string>icon_shotscreen</string>
			<key>name</key>
			<string>截屏</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBWaterMarkViewController</string>
			<key>image</key>
			<string>icon_watermark</string>
			<key>name</key>
			<string>水印</string>
		</dict>
	</array>
	<key>1</key>
	<array>
		<dict>
			<key>page</key>
			<string></string>
			<key>image</key>
			<string></string>
			<key>name</key>
			<string></string>
		</dict>
	</array>
	<key>info</key>
	<array>
		<dict>
			<key>page</key>
			<string>HGBNetworkInfoViewController</string>
			<key>image</key>
			<string>icon_netinfo</string>
			<key>name</key>
			<string>网络信息</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBAPPInfoViewController</string>
			<key>image</key>
			<string>icon_appinfo</string>
			<key>name</key>
			<string>应用信息</string>
		</dict>
		<dict>
			<key>page</key>
			<string>HGBDeviceViewController</string>
			<key>image</key>
			<string>icon_deviceinfo</string>
			<key>name</key>
			<string>设备信息</string>
		</dict>
	</array>
</dict>
</plist>
