<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>icon_common</string>
		<key>page</key>
		<string>common</string>
		<key>name</key>
		<string>普通工具</string>
	</dict>
	<dict>
		<key>image</key>
		<string>icon_file</string>
		<key>page</key>
		<string>file</string>
		<key>name</key>
		<string>文件工具</string>
	</dict>
	<dict>
		<key>image</key>
		<string>icon_handware</string>
		<key>page</key>
		<string>handware</string>
		<key>name</key>
		<string>硬件工具</string>
	</dict>
	<dict>
		<key>image</key>
		<string>icon_ui</string>
		<key>page</key>
		<string>ui</string>
		<key>name</key>
		<string>UI工具</string>
	</dict>
	<dict>
		<key>image</key>
		<string>icon_info</string>
		<key>page</key>
		<string>info</string>
		<key>name</key>
		<string>信息工具</string>
	</dict>
	<dict>
		<key>image</key>
		<string>icon_fullscreen</string>
		<key>page</key>
		<string>full</string>
		<key>name</key>
		<string>基础组件</string>
	</dict>
	<dict>
		<key>image</key>
		<string>icon_smallscreen</string>
		<key>page</key>
		<string>small</string>
		<key>name</key>
		<string>元素组件</string>
	</dict>
	<dict>
		<key>image</key>
		<string>icon_popscreen</string>
		<key>page</key>
		<string>pop</string>
		<key>name</key>
		<string>弹出组件</string>
	</dict>
	<dict>
		<key>image</key>
		<string>icon_component</string>
		<key>page</key>
		<string>base</string>
		<key>name</key>
		<string>基类</string>
	</dict>
	<dict>
		<key>image</key>
		<string>icon_componentset</string>
		<key>page</key>
		<string>componentset</string>
		<key>name</key>
		<string>组件设置</string>
	</dict>
	<dict>
		<key>image</key>
		<string>icon_third</string>
		<key>page</key>
		<string>third</string>
		<key>name</key>
		<string>第三方</string>
	</dict>
	<dict>
		<key>image</key>
		<string>icon_more</string>
		<key>page</key>
		<string>detail</string>
		<key>name</key>
		<string>详细</string>
	</dict>
</array>
</plist>
